[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pydantic-settings = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
spacy = "*"
sastrawi = "*"
beautifulsoup4 = "*"
requests = "*"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
ipython = "*"
jupyter = "*"

[requires]
python_version = "3.13"